In [9]:
from pymongo import MongoClient 
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt

Import cleaned csv (duplicate "state_code.1" columns must be dropped in order to avoid conflict) to MONGO db by running the following command in your terminal:

mongoimport --type csv -d startups -c startup_data --headerline --drop /Users/rexpeters/Desktop/project3/startup_data_cleaned.csv

In [2]:
mongo = MongoClient(port=27017)

In [3]:
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_DB', 'local', 'met', 'petsitly_marketing', 'startups', 'travel_db', 'uk_food']

In [4]:
db = mongo['startups']

In [5]:
print(db.list_collection_names())

['startup_data']

In [6]:
startup_data = db['startup_data']

In [7]:
startup_data.find_one()

{'_id': ObjectId('673be07f87b8a545ddd0ff6d'),
 'Unnamed: 0': 738,
 'state_code': 'CA',
 'latitude': 37.320309,
 'longitude': -122.05004,
 'zip_code': 95014,
 'id': 'c:42668',
 'city': 'Cupertino',
 'Unnamed: 6': 'Cupertino CA 95014',
 'name': 'Solidcore Systems',
 'labels': 1,
 'founded_at': '1/1/2002',
 'closed_at': '',
 'first_funding_at': '2/17/2005',
 'last_funding_at': '4/25/2007',
 'age_first_funding_year': 3.1315,
 'age_last_funding_year': 5.3151,
 'age_first_milestone_year': 6.0027,
 'age_last_milestone_year': 6.0027,
 'relationships': 5,
 'funding_rounds': 3,
 'funding_total_usd': 40000000,
 'milestones': 1,
 'is_CA': 1,
 'is_NY': 0,
 'is_MA': 0,
 'is_TX': 0,
 'is_otherstate': 0,
 'category_code': 'software',
 'is_software': 1,
 'is_web': 0,
 'is_mobile': 0,
 'is_enterprise': 0,
 'is_advertising': 0,
 'is_gamesvideo': 0,
 'is_ecommerce': 0,
 'is_biotech': 0,
 'is_consulting': 0,
 'is_othercategory': 0,
 'object_id': 'c:42668',
 'has_VC': 0,
 'has_angel': 0,
 'has_roundA': 0,
 'has_roundB': 1,
 'has_roundC': 1,
 'has_roundD': 1,
 'avg_participants': 3.3333,
 'is_top500': 1,
 'status': 'acquired'}

In [11]:
print(type(startup_data))
print(startup_data)

<class 'pymongo.synchronous.collection.Collection'>
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'startups'), 'startup_data')

In [12]:
data = list(startup_data.find())  # Convert MongoDB cursor to a list
dataframe = pd.DataFrame(data)

In [14]:
len(dataframe)

923

In [16]:
dataframe.head(10)

,_id,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,673be07f87b8a545ddd0ff6d,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
1,673be07f87b8a545ddd0ff6e,16,MA,42.712207,-73.203599,1267,c:1043,Williamstown,Williamstown MA 1267,VoodooVox,...,c:1043,1,0,1,0,0,1,4.0000,1,acquired
2,673be07f87b8a545ddd0ff6f,846,CA,37.427235,-122.145783,94306,c:498,Palo Alto,,Doostang,...,c:498,1,1,1,0,0,0,1.0000,1,acquired
3,673be07f87b8a545ddd0ff70,685,CA,37.442988,-122.162413,94025,c:3949,Menlo Park,,Zong,...,c:3949,0,0,1,1,0,0,1.0000,1,acquired
4,673be07f87b8a545ddd0ff71,379,CA,37.406914,-122.090370,94043,c:22898,Mountain View,Mountain View CA 94043,Matisse Networks,...,c:22898,0,0,0,1,0,0,3.0000,1,closed
5,673be07f87b8a545ddd0ff72,875,CA,38.057107,-122.513742,94901,c:5192,San Rafael,,ClairMail,...,c:5192,0,0,1,1,0,1,3.5000,1,acquired
6,673be07f87b8a545ddd0ff73,195,CA,37.391559,-122.070264,94041,c:16191,Mountain View,,RingCube Technologies,...,c:16191,1,0,1,1,0,0,1.6667,1,acquired
7,673be07f87b8a545ddd0ff74,162,CO,39.746273,-104.991157,80202,c:15645,Denver,,Stratavia,...,c:15645,0,0,1,1,0,0,2.5000,1,acquired
8,673be07f87b8a545ddd0ff75,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
9,673be07f87b8a545ddd0ff76,898,VA,38.901301,-77.265158,22182,c:54177,Vienna,Vienna VA 22182,Invicta Networks,...,c:54177,1,0,0,0,0,0,1.0000,0,closed